<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recipe {{ recipe?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="recipe">
  <ion-card>
    <ion-img *ngIf="recipe.imageBase64" [src]="recipe.imageBase64"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ recipe.name }}</ion-card-title>
      <ion-card-subtitle>{{ recipe.subtitle }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ recipe.text }}</p>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="recipe.tags.length > 0">
    <ion-list-header>
      <ion-label>Tags</ion-label>
    </ion-list-header>
    <ion-chip *ngFor="let tag of recipe.tags">
      <ion-label>{{ tag }}</ion-label>
    </ion-chip>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Ingredients</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let ingredient of recipe.ingredients">
      <ion-label>{{ ingredient.text }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="recipe.ratings.length > 0">
    <ion-list-header>
      <ion-label>Ratings</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let rating of recipe.ratings">
      <ion-label>
        {{rating.rating}} - {{rating.text}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>